<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

        <title>{{ email }}</title>
    </head>
    <body><br>
        <div class="container">
            
            <div class="row">
                <div class="col">
                    <a class="btn btn-primary" href="/auth/logout">logout</a>
                </div>
                <div class="col"></div>
                <div class="col">
                    
                    <input id="roomsText" type="text" name="title" placeholder="Rooms name">
                    <button id="addRoom" class="btn btn-primary">Submit</button>
                    
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-3"></div>
                <div id="roomsContainer" class="col-lg-6">
                    
                </div>
                <div class="col-lg-3"></div>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script src="/js/socket.io.js"></script>
        <script src="/js/client.menu.js"></script>
    </body>
</html>