<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/room.css">
    <title>Room</title>
</head>
<body>
    <div class="container content">
    <div class="row">
    </div>
</div>
    <div class="container">
        <div class="row">
            <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-12">
                <div class="card" style="max-height: 80vh;">
                    <div class="card-header">{{ title }}</div>
                    <div id="overflowDiv" class="card-body height3 overflow-auto">
                        <ul id="messagesList" class="chat-list">
                            
                        </ul>
                    </div>
                    <div class="form-inline">
                        <div class="form-group mx-sm-3 mb-2">
                            <input class="form-control" id="message" type="text" placeholder="Add text">
                        </div>
                        <div class="form-group mx-sm-3 mb-2">
                            <button class="btn btn-primary" id="sendMessage">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Members:</h5>
                        <div id="members">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="/js/socket.io.js"></script>
    <script>const userId = {{{ userId }}};const token = "{{{ token }}}";</script>
    <script src="/js/client.room.js"></script>
</body>
</html>