<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

        <title>Reset password</title>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <br>
                    {{#if valid}}
                    <h3>Create new password</h3>
                    <form method="POST" action="/auth/reset/{{ token }}">
                        <div class="mb-3">
                            <input name="password" type="password" class="form-control" placeholder="New password">
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                    {{else}}
                    <h3>Password changed</h3>
                    {{/if }}
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </body>
</html>